<mat-card class="lole" >
		<mat-card-header style="font-size: 300%;text-align:center;font-family:'Raleway', sans-serif;">Login</mat-card-header>
		<mat-divider style="margin-top: 5px"></mat-divider>
		<mat-card-content>
	<div [formGroup]="loginform" class="add-field">
		<div mat-dialog-content style="margin-top:40px">
		  <br>
		  <mat-form-field  style="margin-bottom: 20px;width: 200px;font-size: 120%">
			<input style="font-size: 100%;" formControlName="email" ngDefaultControl matInput placeholder="Email">
			<mat-error *ngIf="email.invalid ">
				Email is not valid
			</mat-error>
		    
		  </mat-form-field>
		  <br>
		  <mat-form-field style="font-size: 100%">
			<input  formControlName="password" ngDefaultControl matInput placeholder="Password">
			<mat-error *ngIf="password.invalid">
				Password is required
			</mat-error>
		    
		  </mat-form-field>
		  <br>
		</div>
	      </div>
	    </mat-card-content>
	    <mat-card-actions>
			<div mat-dialog-actions>
					<span class="right-align-next-element"></span>
					<button  [disabled]="email.invalid || password.invalid" class="primary-btn" mat-raised-button style="background-color: greenyellow" (click)="loginprtl(loginform)" >Login</button>
				      </div>
	
	    </mat-card-actions>
	</mat-card>
		