<br>
<div style="position: absolute;right:350px;">

<div >
		<a routerLinkActive="active" [routerLink]="['/animals/cat']">
		<div class="hyt">
			<h1 style="text-align: center;font-size:300%">CAT</h1>
			<p style="font-size: 100%">An epic creature that will shoot fire at you if you get near it.
				You can usually find one outside or near/in a house.
				Its main abilities are to chomp and scratch but they can also pounce, shoot lasers out of their eyes, be cute, jump as high as they want, and fly. 
				Do not fight one unless you are equipped with extreme power armor and heavy assault cannons. Its also better to bring multiple friends. 
				Dont say i didnt warn you when you get vaporized from being fooled by its cuteness.</p>
		</div>
		<br><br>

		</a>
		<a [routerLink]="['/animals/dog']" routerLinkActive="active"><div class="hyt">
				<h1 style="text-align: center;font-size:300%">DOG</h1>
				<p style="font-size: 100%">Dogs are angelic creatures that deserve love and respect. Dogs are sweet and they love their owners and their owners love them back. Anyone who abuses and doesn't like dogs is a cruel monster and should go to hell. Dogs are innocent and beautiful in their own way. There is no such thing as a mean dog.</p>
			</div></a> 
</div>
<br><br>
</div>
<router-outlet></router-outlet>
