<mat-toolbar style="background-color:greenyellow">
	<mat-toolbar-row>
	  <button mat-icon-button *ngIf="showsidenav">
	    <mat-icon  svgIcon="liste" (click)="sidenav.toggle()">menu</mat-icon>
	  </button>
	  <a style="color: inherit;text-decoration: none;"><h1 style="color:black;font-size:30px;font-family:'Raleway', sans-serif;margin-left:5px;margin-top: 1px ">Pet Oasis</h1></a>
	  <span class="menu-spacer"></span>
	  <div style="color: black;">
	    <a style="color:inherit;text-decoration:none;margin-left: 15px;" mat-button [routerLink]="'/home'"><span style="font-size:105%;font-family:'Raleway', sans-serif;">Home</span></a>
	    <a style="color:inherit;text-decoration:none;" mat-button [routerLink]="'/animals'"><span style="font-size:105%;font-family:'Raleway', sans-serif;">Categories</span></a>
	    </div>
	<span class="fill"></span>
	<a style="color:inherit;text-decoration:none;" *ngIf='!user' mat-button [routerLink]="'/login'"><span style="font-size:105%;font-family:'Raleway', sans-serif;">Login</span></a>
	<a style="color:inherit;text-decoration:none;" *ngIf='!user' mat-button [routerLink]="'/register'"><span style="font-size:105%;font-family:'Raleway', sans-serif;">Register</span></a>
	<a style="color:inherit;text-decoration:none;" *ngIf='user' mat-button [routerLink]="'/profile'"><span style="font-size:105%;font-family:'Raleway', sans-serif;">Profile</span></a>
	<a style="color:inherit;text-decoration:none;" *ngIf='user' (click)="logout()"mat-button [routerLink]="'/login'"><span style="font-size:105%;font-family:'Raleway', sans-serif;">Logout</span></a>

	  
	</mat-toolbar-row>
	
      </mat-toolbar>
      <div  class="lool" [@routeAnimations]="prepareRoute(outlet)">
			
		<router-outlet #outlet="outlet"></router-outlet>
		
	</div>
      
      
      <mat-sidenav-container class="jkk" >
		<mat-sidenav #sidenav [opened]="showsidenav" mode="side" style="width:210px">
		  <mat-nav-list>
			<mat-accordion style="width:208px" multi="true">

				<mat-expansion-panel [expanded]="true" >
				  <mat-expansion-panel-header style="font-family: 'Raleway', sans-serif;">
				    {{first}} Categories
				  </mat-expansion-panel-header>
				  	<div *ngFor="let item of first$|async" >
						
						<a routerLinkActive="active" style="font-family: 'Raleway', sans-serif;" [routerLink]="[urrl, item.id]">{{ item.id }}</a>
						

					  </div>
				  
			      
				</mat-expansion-panel>
			      
				<mat-expansion-panel>
				  <mat-expansion-panel-header style="font-family: 'Raleway', sans-serif;">
				    {{second}} Categories
				  </mat-expansion-panel-header>
			      
				  <div *ngFor="let items of second$|async">
						
					<a routerLinkActive="active" style="font-family: 'Raleway', sans-serif;" [routerLink]="[urrl2, items.id]">{{ items.id }}</a>
					

				  </div>
			      
				</mat-expansion-panel>
			      
			      </mat-accordion>
		    
		  </mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
		  <div  class="lolo" [@routeAnimations]="prepareRoute(outlet)">
	      
		    <router-outlet #outlet="outlet"></router-outlet>
		  </div>
		</mat-sidenav-content>
	      </mat-sidenav-container>
	
	      







