.lool{
	background-image: inherit;
	height: 0vh;
	
	
}
.fill{
	flex: 1 1 auto;
}
.lolo{
	
	height: 88vh;
}
a{
	color:black;
	text-decoration: none;
}
.jkk{
	background-image: url("src/assets/mb-bg-03.png");
}